/*--------------------------------------------------------------
# Home Content List
--------------------------------------------------------------*/
.content-list .side-left .potensi {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin-bottom: 15px;
}

.content-list .side-left .potensi .header {
    background: #dd3333;
    border-bottom: 5px solid #dd3333;
}


.content-list .side-left .potensi .header .title {
    background: #fff;
    color: #dd3333;
    width: fit-content;
    padding: 5px 10px 5px 5px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-bottom-right-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.content-list .side-left .potensi .icon-box {
    position: relative;
    overflow: hidden;
    background: #e8e9ef;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    margin: 10px;
    z-index: 1;
}

.content-list .side-left .potensi .icon-box .gambar-index img {
    border-radius: 8px;
}

.content-list .side-left .potensi .icon-box .meta-info {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.content-list .side-left .potensi .icon-box .meta-info .date-info {
    font-size: 11px;
    text-align: left;
    vertical-align: middle;
    padding: 5px 0;
}

.content-list .side-left .potensi .icon-box .meta-info .date-info i {
    position: relative;
    top: -2px;
}

.content-list .side-left .potensi .icon-box .meta-info .owner-info {
    font-size: 11px;
    text-align: right;
    vertical-align: middle;
    padding: 5px 10px 5px 5px;
}

.content-list .side-left .potensi .icon-box .meta-info .owner-info i {
    position: relative;
    top: -2px;
}

.content-list .side-left .potensi .icon-box .judul {
    padding: 0 10px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.content-list .side-left .potensi .icon-box .judul a {
    color: #132748;
}

.content-list .side-left .potensi .icon-box .judul a:hover {
    color: #4154f1;
}

.content-list .side-left .potensi .icon-box .description {
    padding: 0 10px 10px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.content-list .side-right .videos {
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 0.3rem;
}

.content-list .side-right .videos .header {
    background: #dd3333;
    border-bottom: 5px solid #dd3333;
    border-top: 5px solid #dd3333;
    padding-left: 5px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.content-list .side-right .videos .header .title {
    color: #dd3333;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0.3rem;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.content-list .side-right .videos .item {
    padding: 15px;
}

.content-list .side-right .videos .item .gambar-video .get-judul {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: #fff;
    padding: 45px 20px 15px;
    font-size: 13px;
    line-height: 1.2;
    z-index: 10;
}

.content-list .side-right .perangkat {
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 0.3rem;
}

.content-list .side-right .perangkat .header {
    background: #dd3333;
    border-bottom: 5px solid #dd3333;
    border-top: 5px solid #dd3333;
    padding-left: 5px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.content-list .side-right .perangkat .header .title {
    color: #dd3333;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0.3rem;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.content-list .side-right .perangkat .header .title a {
    color: #dd3333;
}

.content-list .side-right .perangkat .perangkat-carousel {
    padding: 15px;
}

.content-list .side-right .perangkat .perangkat-carousel .foto img {
    max-height: 180px;
    min-height: 180px;
}

.content-list .side-right .perangkat .perangkat-carousel .foto .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: #fff;
    text-align: center;
    padding: 45px 5px 15px;
    font-size: 10px;
    line-height: 1.2;
    z-index: 10;
}

@media (max-width:500px) {
    .content-list .side-right .videos .box .gambar-video .get-judul {
        bottom: 15px;
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
}

.services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.services .icon-box h4 a {
    color: #111;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
    color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
    color: #fff;
}

.services .iconbox-blue:hover .icon path {
    fill: #47aeff;
}

.services .iconbox-orange i {
    color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
    color: #fff;
}

.services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
}

.services .iconbox-pink i {
    color: #e80368;
}

.services .iconbox-pink:hover .icon i {
    color: #fff;
}

.services .iconbox-pink:hover .icon path {
    fill: #e80368;
}

.services .iconbox-yellow i {
    color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
    color: #fff;
}

.services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
}

.services .iconbox-red i {
    color: #ff5828;
}

.services .iconbox-red:hover .icon i {
    color: #fff;
}

.services .iconbox-red:hover .icon path {
    fill: #ff5828;
}

.services .iconbox-teal i {
    color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
    color: #fff;
}

.services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
}



/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
}

.courses .course-content {
    padding: 15px;
}

.courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
}

.courses .course-content h3 a {
    color: #37423b;
    transition: 0.3s;
}

.courses .course-content h3 a:hover {
    color: #5fcf80;
}

.courses .course-content p {
    font-size: 14px;
    color: #777777;
}

.courses .course-content h4 {
    font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
}

.courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
}

.courses .trainer {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
}

.courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
}

.courses .trainer .trainer-profile span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
}

.courses .trainer .trainer-rank {
    font-size: 18px;
    color: #657a6d;
}


/*--------------------------------------------------------------
  # Comments
  --------------------------------------------------------------*/
.blog-comments .header .title {
    font-family: 'Quicksand', sans-serif !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;
}

.blog-comments .header .title:after {
    border-radius: 0;
    content: "";
    display: inline-block;
    height: 3px;
    left: 10px;
    margin: 41px 0 0 0;
    position: absolute;
    vertical-align: bottom;
    width: 50px;
    background: #1b82ec;
}

.blog-comments .reply-form {
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 0.3em;
}

.blog-comments .comment .item {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
    background: #fff;
    border-radius: 0.3rem;
}

.blog-comments .comment .item .comment-img {
    max-width: 64px;
    max-height: 64px;
    margin-right: 14px;
}

.blog-comments .comment .item .author {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.blog-comments .comment .item .date {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

.blog-comments .sticky-alert {
    padding: 12px 15px;
    border-radius: 0.3rem;
}


/* section */


@media (max-width: 1200px) {
    .short-stat .count-box {
        margin-bottom: 5px;
        ;
    }
}

@media (max-width: 1400px) {
    .short-stat {
        padding: 10px 0 !important;
    }
}


/*--------------------------------------------------------------
  # Single Article
  --------------------------------------------------------------*/
.dinamic-single {
    /* box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px; */
    padding: 15px;
    /* background-color: #fff;
    margin-bottom: 15px; */
    /* border-radius: 0.3em; */
}

.dinamic-single .title {
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 20px;
    vertical-align: middle;
    /* font-family: 'Quicksand', sans-serif; */
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 12px
}

.dinamic-single .title:after {
    border-radius: 0;
    bottom: -2px;
    content: "";
    display: inline-block;
    height: 3px;
    left: 0;
    margin: 0;
    position: absolute;
    vertical-align: bottom;
    width: 50px;
    background: #4084fd;
}

.dinamic-single .meta ul {
    font-size: 12px;
    display: inline-flex;
    padding-inline-start: 0;
}

.dinamic-single .meta ul>li {
    margin-right: 5px;
}

.dinamic-single .meta i {
    margin-right: 5px;
    color: #4084fd;
}

.dinamic-single .meta .author:after {
    content: "|";
    display: inline-block;
    font-weight: normal;
    margin-left: 5px;
    margin-top: -4px;
    font-size: 9px;
    opacity: 0.5;
}

.dinamic-single .meta .date:after {
    content: "|";
    display: inline-block;
    font-weight: normal;
    margin-left: 5px;
    margin-top: -4px;
    font-size: 9px;
    opacity: 0.5;
}

.dinamic-single .meta .cat:after {
    content: "|";
    display: inline-block;
    font-weight: normal;
    margin-left: 5px;
    margin-top: -4px;
    font-size: 9px;
    opacity: 0.5;
}

.dinamic-single .meta .cat a {
    color: #4d4643;
}

.dinamic-single .meta .cat a:hover {
    color: #1b26bd;
}

.dinamic-single .entry-img {
    margin-bottom: 15px;
}

.dinamic-single .entry-img .caption {
    font-size: 10px;
    text-align: center;
    font-weight: lighter;
    padding: 5px 0;
    color: #999;
    background: #efefef;
}

.dinamic-single .count-box {
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
    margin-bottom: 15px;
    border-radius: 0.3em;
}

.dinamic-single .count-box .icon {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.3rem;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.dinamic-single .count-box .icon i {
    color: #fff;
    font-size: 34px;
}

.dinamic-single .count-box .data-body {
    padding: 5px 10px;
    margin-left: 60px;
}

.dinamic-single .count-box .data-body .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.dinamic-single .count-box .data-body .progress .progress-bar {
    background: #fff;
    font-size: 12px;
    line-height: 15px;
}

.dinamic-single .count-box .data-body .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}

.dinamic-single .count-box .head {
    padding-bottom: 15px;
    position: relative;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 12px;
}

.dinamic-single .count-box .data-body .judul {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.dinamic-single .count-box .data-body .agenda_value {
    font-weight: lighter;
    font-size: 11px;
    padding: 3px 0;
}

.dinamic-single .entry-content .caption {
    font-size: 10px;
    text-align: center;
    font-weight: lighter;
    padding: 5px 0;
    color: #999;
    background: #efefef;
}

.dinamic-single .footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.dinamic-single .footer .social-shared {
    padding-top: 10px;
}

.dinamic-single .footer .social-shared .facebook {
    padding: 5px 10px;
    background: #4267B2;
    border-radius: 0.2rem;
}

.dinamic-single .footer .social-shared .twitter {
    padding: 5px 10px;
    background: #55acee;
    border-radius: 0.2rem;
}

.dinamic-single .footer .social-shared .whatsapp {
    padding: 5px 10px;
    background: #1bbd36;
    border-radius: 0.2rem;
}

.dinamic-single .footer .social-shared .telegram {
    padding: 5px 10px;
    background: #0088cc;
    border-radius: 0.2rem;
}

.dinamic-single .footer .social-shared a {
    color: #fff;
    ;
}

.blog-author {
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
    background: #fff;
    border-radius: 0.3rem;
}

.blog-author .foto-author {
    border-radius: 0.3rem;
    float: left;
    width: 100px;
    height: 100px;
}

.blog-author .author-bio {
    margin-left: 110px;
}

.blog-author .author-bio p {
    margin-bottom: 5px;
}

.blog-author .author-bio .nama {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.blog-author .author-bio .social-links {
    margin-bottom: 5px;
}

.blog-author .social-links i {
    margin-right: 5px;
    font-size: 16px;
    margin-top: 2px;
}

.blog-author .social-links .btn-social {
    margin-bottom: 5px;
}

.blog-author .foto-penduduk {
    width: 120px;
    margin-right: 20px;
    border-radius: 10px;
}

.blog-author p {
    color: #999;
}

@media (max-width: 768px) {
    .dinamic-single .title {
        font-size: 13px;
    }

    .dinamic-single .meta ul {
        font-size: 9px;
    }

    .dinamic-single .meta .author {
        /* display: none !important; */
        font-size: 9px;
    }

    .dinamic-single .meta .author:after {
        font-size: 6px;
        margin-top: 0;
    }

    .dinamic-single .meta .date:after {
        font-size: 6px;
        margin-top: 0;
    }

    .dinamic-single .meta .cat:after {
        font-size: 6px;
        margin-top: 0;
        display: none;
    }

    .dinamic-single .meta .hit {
        /* display: none !important; */
        font-size: 9px;
    }

    .dinamic-single .count-box {
        margin-bottom: 5px;
    }

    .dinamic-single .footer {
        text-align: center;
    }

    .blog-author .foto-author {
        display: block;
        margin: auto;
        float: none;
    }

    .blog-author .author-bio {
        margin-left: 0;
        margin-top: 10px;
    }

    .blog-author .author-bio .nama {
        text-align: center;
    }

    .blog-author .author-bio .social-links {
        text-align: center;
    }
}